.footer-section{
    height: 125px;
    background-color: rgb(240, 240, 240);
    display: flex;
}
.footer-top-section{
    height: 120px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 63px;
}
.inside-top-section{
    position: absolute;
    height: 100px;
    flex: 1;
    top: 10px;
    width: 100px;
}
.heading{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    font-size: 7px;
    font-weight: 500;
}
.inside-top-section p{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 5px;
}
.footer-bottom{
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    background-color: rgb(240, 240, 240);
}
.footer-bottom div{
    margin-left: 30px;
    margin-right: 40px;
    display: flex;
    align-items: center;
}
.language-icon{
    height: 9px;
}
.english{
    font-size: 4.5px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 4px;
}
.privacy-icon{
    height: 7px;
    margin-left: 9px;
}
.privacy{
    font-size: 4.5px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 4px;
}
.contacts{
    font-size: 4.5px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 4px;
}


