.main-body{
    height: 1135px;
}
.preview-section{
    height: 185px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    column-gap: 8px;
    cursor: pointer;
}
.preview-section div{
    flex: 1;
}
.thumbnail{
    width: 100%;
}
.title{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-top: 3px;
}
.description{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 6.5px;
    margin-top: 8px;
}
.underlined-section{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 6.5px;
    margin-top: 9px;
    color: rgb(29, 29, 215);
}
.underlined-section:hover{
    text-decoration: underline;
} 
.x-box-section{
    height: 206.5px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 35px;
}
.x-box-image{
    width: 100%;
    height: 100%;
}
.x-box-description{
    height: 80px;
    width: 120px;
    position: absolute;
    right: 90px;
    bottom: 55px;
}
.name{
    font-size: 14px;
    font-weight: 500;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 0;  
    margin-bottom: 0;
}
.x-box-sub-description{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 6.5px;
    margin-top: 0;
    margin-top: 8px;
}
.shop-button{
    height: 16px;
    font-size: 6.5px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #0067b8;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 0.8px;
    cursor: pointer;
}
.shop-button:hover{
    background-color: #025da2;
}
.for-business{
    margin-left: 30px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 40px;
}

.social-media-section{
    height: 20px;
    margin-left: 35px;
    display: grid;
    grid-template-columns: 50px 100px;
    align-items: center;
    margin-top: 15px;
}
.follow-microsoft{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 6.5px;
}
.social-media-icons{
    margin-left: 6px;
}
.social-media-logo{
    height: 13px;
    margin-right: 3px;
}